#define($content)
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="ico/favicon.ico">
		<title>Mobile web application</title>		
		<!-- All required css -->
		<link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
		<link type="text/css" rel="stylesheet" href="/assets/css/jquery.mmenu.all.css" />
		<link rel="stylesheet" href="/assets/css/supersized.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/assets/theme/supersized.shutter.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/assets/css/colorbox.css" />
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">		
		<!-- All required css -->
		
		<!-- All Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">				
		
		<!-- All required js  -->		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.mmenu.min.all.js"></script>
		<script src="/assets/js/jquery.lazyload.js"></script>
		<script type="text/javascript" src="/assets/js/supersized.3.2.7.min.js"></script>
		<script type="text/javascript" src="/assets/theme/supersized.shutter.min.js"></script>		
		<script src="/assets/js/jquery.colorbox.js"></script>
		<!-- slider swipe able script  -->
		<script src="/assets/js/extras.js"></script>
		<!-- All required js  -->
		<script type="text/javascript">
		$(function() {
			//right side slide menu
			$('nav#menu').mmenu();
			
			//Color box lightbox			
			$(".youtube").colorbox({iframe:true,width:"90%",height:"90%", innerWidth:"90%", innerHeight:"90%"});
			// make color box responsive 
			// Make ColorBox responsive
			jQuery.colorbox.settings.maxWidth  = '90%';
			jQuery.colorbox.settings.maxHeight = '90%';

			// ColorBox resize function
			var resizeTimer;
			function resizeColorBox()
			{
				if (resizeTimer) clearTimeout(resizeTimer);
				resizeTimer = setTimeout(function() {
						if (jQuery('#cboxOverlay').is(':visible')) {
								jQuery.colorbox.load(true);
						}
				}, 300);
			}

			// Resize ColorBox when resizing window or changing mobile device orientation
			jQuery(window).resize(resizeColorBox);
			window.addEventListener("orientationchange", resizeColorBox, false);				
			
			
			// make the slider swipe able 
			$(".swipe-target").swipe( {
				//Generic swipe handler for all directions
				swipe:function(event, direction, distance, duration, fingerCount) {
					//console.log(direction);
					if(direction == 'left'){ // prev slide
						api.nextSlide();
					}
					if(direction == 'right'){ // prev slide
						api.prevSlide();
					}
				},
			   threshold:0
			});
			
			// roll back the slides
			$("#menuArrow").click(function() {
				$("#menu").trigger("close.mm");
			});
		// lazy load 
			$('#supersized img').lazyload({
			  effect : "fadeIn"
			});
		});			
	</script>
	</head>
	<body>
		<div id="page">
			<div class="header">
				<div class="menu-button pull-right">
					<ul>
					 #if ($isLogin == true)
						<li><a href="updateprofile" class="login-button hidden-xs">Welcome $userName </a></li>
						<li><a href="logout" class="sign-up-button hidden-xs">Log out</a></li>						
    				#else
						<li><a href="login" class="login-button hidden-xs">log in</a></li>
						<li><a href="signup" class="sign-up-button hidden-xs">Sign up</a></li>
    				#end
					</ul>
				</div>
			</div>
			<div class="content">
				This is Index page
			</div>
			
	</body>
#end
