#define($content)
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <title>Billistic.com | Online Bill Management | Sign Up</title>
    <!-- we need jQuery in the body so load here -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Google Fonts, Lato, Light, Normal and Bold. -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!-- FontAwesome css -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <!--<link href="/assets/css/billistic.css" rel="stylesheet">-->
</head>
<body>
<div id="page">
	<div class="content">
		<div class="inner-container">
			<a href="/billistic">
				<img src="/assets/img/header_logo_bw.png" class="inner_logo" alt="Billistic"/>
			</a>
			<div></div>
			<div class="header-with-line">
				<span>SIGN UP</span>
			</div>
			<div></div>
			<form action="signupok" method="post" name="signupForm">
				<input type="text" id="firstName" name="firstName" placeholder="First Name" value="Terence" required="required" />
				<input type="text" id="lastName" name="lastName" placeholder="Last Name"  value="Taih" required="required" />
				<input type="text" id="userName" name="userName" placeholder="User Name" required="required" value="teren"   />
				<input type="email" id="email" name="email" placeholder="Email Address"  value="terence.taih@abc.xyz" required="required"/>
				<input type="text" id="homeAddress" name="homeAddress" placeholder="Home Address" required="required" value="Silicon Valey,US"   />
				<input type="tel" id="phoneNumber" name="phoneNumber"  placeholder="Mobile Number" value="8499"  />
				<input type="password" id="password" name="password" placeholder="Password"  required="required" value="123456"  />
				<input type="password" id="retype-password" name="retype-password" placeholder="Password"  required="required" value="123456"  />
				<input type="text" id="ecFirstName" name="ecFirstName" placeholder="Emergency Contact First Name"  value="Peter" required="required" />
				<input type="text" id="ecLastName" name="ecLastName" placeholder="Emergency Contact Last Name"  value="Cech" required="required" />
				<input type="tel" id="ecPhoneNumber" name="ecPhoneNumber"  placeholder="Emergency Contact  Mobile Number" value="8411"  />
				
				<input type="submit" value="SIGN UP" style="background-color:#18a8c2;color:#fff;border:3px solid #18a8c2">
		</form>
		</div>
    </div>
</div>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
#end
