#define($content)
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <title>Mobile Web Application | Sign Up</title>
    <!-- we need jQuery in the body so load here -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Google Fonts, Lato, Light, Normal and Bold. -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!-- FontAwesome css -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<div id="page">
	<div class="content">
		<div class="inner-container">
			<br/>
			<div class="header-with-line">
				<span>SIGN UP DONE</span>
			</div>
			<div> $msg </div>
			<div>  <a href="index"> Click here </a> to return index page </div>
		</div>
    </div>
</div>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
#end
