#define($content)
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <title>Mobile Web Application | Sign Up</title>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script type="text/javascript">
		function validateMyForm(){  			  
			if($("#password").val() != $("#retype-password").val())  {     			
				alert ("Retype password is not match");    
				return false;  
			}  
			return true;
		} 
	</script>    
</head>
<body>
<div id="page">
	<div class="content">
		<div class="inner-container">
			<br/>
			<div class="header-with-line">
				<span>SIGN UP</span>
			</div>
			<div></div>
			<form action="signupok" method="post" onsubmit="return validateMyForm();" name="signupForm">
				<input type="text" id="firstName" name="firstName" placeholder="First Name" value="Terence" required="required" />
				<input type="text" id="lastName" name="lastName" placeholder="Last Name"  value="Taih" required="required" />
				<input type="text" id="userName" name="userName" placeholder="User Name" required="required" value="teren"   />
				<input type="email" id="email" name="email" placeholder="Email Address"  value="terence.taih@abc.xyz" required="required"/>
				<input type="text" id="homeAddress" name="homeAddress" placeholder="Home Address" required="required" value="Silicon Valey,US"   />
				<input type="tel" id="phoneNumber" name="phoneNumber"  placeholder="Mobile Number" value="8499"  />
				<input type="password" id="password" name="password" placeholder="Password"  required="required" value="123456"  />
				<input type="password" id="retype-password" name="retype-password" placeholder="Password"  required="required" value="123456"  />
				<input type="text" id="ecFirstName" name="ecFirstName" placeholder="Emergency Contact First Name"  value="Peter" required="required" />
				<input type="text" id="ecLastName" name="ecLastName" placeholder="Emergency Contact Last Name"  value="Cech" required="required" />
				<input type="tel" id="ecPhoneNumber" name="ecPhoneNumber"  placeholder="Emergency Contact  Mobile Number" value="8411"  />
				
				<input type="submit" value="SIGN UP" style="background-color:#18a8c2;color:#fff;border:3px solid #18a8c2">
		</form>
		</div>
    </div>
</div>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
#end
